<ion-view view-title="Comments">
  <ion-content class="padding">
  <div ng-repeat="comment in comments.Comment track by $index">
   <div class="comment-list">
        
      <img class="avatar" ng-src="img/max.png">
      <h2>{{comment.User.username}}</h2>
      <p>{{comment.created}} <span ng-show="comment.user_id==$root.user_id" prevent-href="true"><i class="icon ion-chevron-down" style="font-size: 15px;color:#444" ng-click="showCommentPopover($event,$index)"></i></span></p>
      <div class = "row">

      {{comment.body}}
   
     
  </div>
  <div style="width:100%;height:25px"><a class="subdued" style="float:right" ng-click="changeLike(comment.id,$index)"> <span><i class="icon ion-thumbsup likes" ng-class="{'active':comment.isUserLiked}"></i> {{comment.likes}}</span></a></div>
</div>

</div>
  </ion-content>
  <ion-footer-bar align-title="left" class="item-input-inset" style="padding: 5px;height:100px">
      <label class="item-input-wrapper" style="padding-left:0px;padding-right:0px">
        <!--<input type="text" placeholder="Type here..." ng-model="newComment"/>-->
        <textarea rows="5" ng-model="newComment" ng-Required="true" name="content" style="width:200%"></textarea>
      </label>
      <button class="button button-assertive" ng-click="sendComment(comments.Head.id)">
        <span ng-show="action=='edit'">Edit</span><span ng-show="action=='' || action=='add'">Send</span>
      </button>
    </ion-footer-bar> 
</ion-view>
