<ion-view view-title="{{threadTitle}} : {{headOwner}}" cache-view="false">
  <!-- <ion-nav-buttons side="left">
    <button class="button back-button buttons button-clear header-item" ng-click="goBack()">
      <i class="icon ion-ios-arrow-back"></i>
    </button>
  </ion-nav-buttons> -->
  <ion-content class="padding has-footer" style="padding-left: 0px;padding-right: 0px;padding-top: 0px;">

    <div class="list" style="margin-bottom:0px">
      <div class="item item-avatar" style="border-bottom:none;">
        <img src="img/avatar.png">
        <h3>{{headOwner}}</h3>
        <p style="font-size:small;">{{getHeads.created}}</p>
      </div>

      <div class="item item-body" style="padding: 0px;border-top:none;">
        <div class="remove-first" style="padding:0px 15px 10px 15px;margin:0;color:#000;white-space:pre-line;word-break:break-word;">
          {{getHeads.body}}
        </div>
          <!-- <div class="item" ng-show="headUploads.length > 0" prevent-href="true" style="padding-left: 0px;padding-right: 0px;border-bottom:0px;">
         <a class="item-list-detail" style="padding: 0px;border: 0px;"> -->
        	<ion-scroll direction="x" ng-show="headUploads.length > 0" prevent-href="true">
        		<img ng-repeat="upload in headUploads track by $index" ng-src="{{base_url}}{{upload.path}}" ng-click="showImages(0,$index,'head')" class="full-image" style="height: 350px;"/>

        	</ion-scroll>
        <!-- </a>
        </div> -->
        <p style="padding-left: 15px;">
          <a class="subdued" ng-click="updateLike(getHeads.id,getHeads.likes,getHeads.isUserLiked)"> <span><i class="icon ion-thumbsup likes" ng-class="{'active':getHeads.isUserLiked}"></i> {{getHeads.likes}}</span></a>
          <!--<a class="subdued" ng-click="updateLike(headLikes, getHeads.isUserLiked)" ><span><i class="icon ion-thumbsup" ng-class="{'active':getHeads.isUserLiked}" style="font-size:25px;"></i> {{headLikes}}</span></a>-->
        </p>
      </div>

    </div>
    <ion-list>
      <ion-item ng-repeat="comment in comments.Comment | limitTo:numberOfItemsToDisplay track by $index" style="padding: 0px;">
        <div class="comment-list">

          <img class="avatar" ng-src="img/avatar.png">
          <div style="font-size:smaller;padding-top:15px;margin:0;" ng-show="comment.user_id !=$root.user_id">{{comment.User.username}}</div>
          <div style="font-size:smaller;padding-top:15px;margin:0;" ng-show="comment.user_id ==$root.user_id">{{$root.user}}</div>
          <p class="dateList" style="margin-top: -25px;"><span ng-show="comment.user_id==$root.user_id" prevent-href="true" style=""><i class="icon ion-chevron-down" style="font-size: 15px;color:#444;padding: 10px;" ng-click="showCommentPopover($event,$index)"></i></span></p>
          <div style="padding-right:20px;color:#000;white-space:pre-line;word-break:break-word">{{comment.body}}</div>
          <div ng-show="comment.Uploads.length > 0" prevent-href="true">
            <a class="item item-list-detail" style="padding: 0px;border: 0px;">
              <ion-scroll direction="x" >
                <img ng-repeat="upload in comment.Uploads track by $index" ng-src="{{upload.Upload.loading?upload.Upload.path:base_url+upload.Upload.path}}" ng-click="showImages({{$parent.$index}},{{$index}},'comment')" class="image-list-thumb" ng-style="{'opacity':upload.Upload.loading && typeof(upload.Upload.loading) !=='undefined'?'0.3':'1'}"/>
                <ion-spinner icon="ios" ng-show="typeof(upload.Upload.loading)!=='undefined' && upload.Upload.loading" class="img-spinner"></ion-spinner>
              </ion-scroll>
            </a>
          </div>
          <div style="width:100%;height:30px;padding-right:10px"><a class="subdued datecomment">{{comment.created}}</a><a class="subdued" style="float:right" ng-click="changeLike(comment.id,$index)"> <span><i class="icon ion-thumbsup likes" ng-class="{'active':comment.isUserLiked}"></i> {{comment.likes}}</span></a></div>
        </div>

      </ion-item>

    </ion-list>
    <ion-infinite-scroll ng-if="numberOfItemsToDisplay < comments.Comment.length" on-infinite="loadMore()" distance="1%"></ion-infinite-scroll>
  </ion-content>

  <ion-footer-bar align-title="left" style="padding: 0px;height:auto;border-bottom:1px solid #ddd;" keyboard-attach>
    <div style="width:100%">
    <div class="item item-input-inset" style="padding:0px">
        <i class="icon ion-ios-camera" style="font-size: 35px;padding-left: 5px;color: rgba(68, 68, 68, 0.76);" ng-click="loadImage()"></i>
      <label class="item-input-wrapper item-icon-left" style="padding-left:5px;padding-right:0px;background-color: white;">

        <textarea rows="1" auto-grow ng-model="newComment.body" ng-Required="true" placeholder="コメントを書く" name="content" style="width:100%;padding: 10px;border-radius:0px;border-left:1px solid #ddd;height:auto !important;"></textarea>
      </label>

      <a ng-if="action=='add' || action==''" style="padding:11px" ng-click="sendComment(comments.Head.id)">送信</a>
      <a ng-if="action=='edit'" style="padding:11px;" ng-click="editComment(comments.Head.id)">送信</a>
      <!-- <button ng-show="aaction=='add' || action==''" class="button button-basic" ng-click="sendComment(comments.Head.id)">
        Send
      </button>
      <button style="position: relative !important;" ng-show="action=='edit'" class="button button-basic" ng-click="editComment(comments.Head.id)">
        Edit
      </button> -->
      </div>
      <div class="item" ng-show="newComment.Uploads.length > 0 && action=='edit'" style="padding: 0px;border-top: 0px;">
        <a class="item-thumbnail" ng-repeat="im in newComment.Uploads track by $index">
                 <i ng-click="removeEditedComments($index)" class="icon ion-ios-close" style="font-size: 20px;position: absolute;margin-left: 30px;"></i>
                 <img ng-show="im.Upload.name" ng-src="{{base_url}}{{im.Upload.path}}" style="width:45px;height:45px">
                 <img ng-show="!im.Upload.name" ng-src="{{im.Upload.path}}" style="width:45px;height:45px">
        </a>
      </div>
       <div class="item" ng-show="uploadedCommentimgs.length > 0 && (action=='add' || action=='')" style="padding: 0px;border-top: 0px;">
        <a class="item-thumbnail" ng-repeat="im in uploadedCommentimgs track by $index">
              <i ng-click="removeUploadedImg($index)" class="icon ion-ios-close" style="font-size: 20px;position: absolute;margin-left: 30px;"></i>
               <img ng-src="{{im}}" style="width:45px;height:45px">
        </a>
      </div>
      </div>
    </ion-footer-bar>

</ion-view>
