<ion-view view-title="Groups">
  <ion-nav-buttons side="right" ng-show="false">
        <button class="button button-icon button-clear ion-compose" ng-click="$root.modalAction='add';$root.modalContent=[];threadModal.show();">
        </button>
      </ion-nav-buttons>
  <ion-content>
    <ion-list>
      <ion-item style="padding-right:0px;" class="item-remove-animate item-button-right" collection-repeat="group in groups track by $index" type="item-text-wrap" href="#/tab/group-detail/{{group.Thread.id}}">
        <h2>{{group.Thread.title}}</h2>
        <a href prevent-href="true" ng-show="group.Thread.user_id==$root.user_id"><button style="position: absolute;top: 0px;right: 0px;" class="button button-basic" ng-click="showPopover($event,$index)">
          <i  class="icon ion-ios-settings-strong"></i>
        </button></a>
        <a href prevent-href="true"><button style="position: absolute;top: 0px;right: 0px;" ng-show="group.Thread.user_id!=$root.user_id" ng-click="leave($index)" class="button button-basic" >
          <i  class="icon ion-log-out"></i>
        </button></a>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
