<ion-view view-title="Groups">
  <ion-content>
    <ion-list>
      <ion-item style="padding-right:0px;" class="item-remove-animate item-button-right" collection-repeat="group in groups track by $index" type="item-text-wrap" href="#/tab/group-detail/{{group.Thread.id}}">
        <h2>{{group.Thread.title}}</h2>
       <!-- <a href prevent-href="true" ng-show="group.Owner.id==$root.user_id"><button style="position: absolute;top: 0px;right: 0px;" class="button button-basic" ng-click="showPopover($event,$index)">
          <i  class="icon ion-ios-settings-strong"></i>
        </button></a>
        <button ng-show="group.Owner.id!=$root.user_id" class="button button-assertive" >
          Leave
        </button>-->
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
