<ion-view view-title="Progress">
  <ion-content class="padding text-center">
    <br>
    <div class="summary-header">
      <h3 class="summary-header-child">現在 <span>{{data.bp}}</span> BP</h3>
      <h4 class="summary-header-child">目標達成まであと <span>{{data.goalBp-bp}}</span> BP</h4>
    </div>
    <br>
    <h2 style="color:#13348B;font-weight:bold;">進捗達成率</h2>
    <div class="progress-parent">
      <h2 class="progress">{{data.progress}}%</h2>
      <canvas id="doughnut" class="chart chart-doughnut" chart-data="graph" chart-labels="labels" chart-colors="colors"></canvas>
    </div>
  </ion-content>
</ion-view>
