<ion-view view-title="進捗管理">
  <ion-content class="padding text-center">
    <div class="summary-header">
      <span class="summary-header-child fontperf1">現在 <span class="fontperf2">{{data.bp}}</span> BP　</span>
      <span class="summary-header-child fontperf1">総支給額 <span class="fontperf2"> {{data.salary | number: 0}}</span> 円</span>
    </div>
    <div class="summary-title">    
      <span class="fontperf1" style="font-size:25px !important;">進捗達成率</span>
    </div>
    <div class="progress-parent">
      <h2 class="progress">{{data.progress}}%</h2>
      <canvas id="doughnut" class="chart chart-doughnut" chart-data="graph" chart-labels="labels" chart-colors="colors"></canvas>
    </div>
    <div class="incentive-parent">
      <div class="incentive-child"><span class="fontperf1" style="font-size:20px">基本給</span></div>
      <div class="incentive-child"><span class="fontperf2">{{data.pay | number: 0}}</span><span class="fontperf1" style="font-size:20px"> 円</span></div>
    </div>
    <div class="incentive-parent">
      <div class="incentive-child"><span class="fontperf1" style="font-size:20px">時給インセン</span></div>
      <div class="incentive-child"><span class="fontperf2">{{data.hourlyIncentive | number: 0}}</span><span class="fontperf1" style="font-size:20px"> 円</span></div>
    </div>
    <div class="incentive-parent">
      <div class="incentive-child"><span class="fontperf1" style="font-size:20px">月次インセン</span></div>
      <div class="incentive-child"><span class="fontperf2">{{data.monthlyIncentive | number: 0}}</span><span class="fontperf1" style="font-size:20px"> 円</span></div>
    </div>
    <div class="incentive-parent">
      <div class="incentive-child"><span class="fontperf1" style="font-size:20px">特別インセン</span></div>
      <div class="incentive-child"><span class="fontperf2">{{data.incentive | number: 0}}</span><span class="fontperf1" style="font-size:20px"> 円</span></div>
    </div>
  </ion-content>
</ion-view>
