<ion-view view-title="Chats">
    <ion-nav-buttons side="right" ng-show="false" >
        <i ng-click="showAddChats()" class="icon ion-plus-circled chat-add"></i>
  </ion-nav-buttons>
  <ion-content>
     
    <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right" on-hold="chat.owner==$root.user_id?showgcpopover($event,$index):''" ng-repeat="chat in chatsPreview | limitTo:numberOfGCToDisplay track by $index" type="item-text-wrap" ng-click="viewChat(chat.id,$index)">
        <img ng-src="img/avatar.png">
        <h2>
          <span ng-repeat="user in chat.users" ng-if="user.User.id!=$root.user_id">
            {{user.User.username}}
            <span ng-if="!$last">,</span>
          </span>
        </h2>
        <p>{{chat.message.Message.body}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>

       
      </ion-item>
    </ion-list>
    <ion-infinite-scroll ng-if="numberOfGCToDisplay < chats.length" on-infinite="loadMoreGC()" distance="1%"></ion-infinite-scroll>
  </ion-content>
</ion-view>
