
<ion-view view-title="メッセージ">
    <ion-nav-buttons side="right" ng-show="false" >
  
    <button class="button button-icon button-clear ion-ios-plus-empty button-add" ng-click="showAddChats()">
    </button>
        <!-- <i ng-click="showAddChats()" class="icon ion-plus-circled chat-add"></i> -->
  </ion-nav-buttons>
  <ion-content>

    <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right" on-hold="chat.owner==$root.user_id?showgcpopover($event,$index):''" ng-repeat="chat in chatsPreview | orderBy:'chat.message.Message.created' | limitTo:numberOfGCToDisplay track by $index" type="item-text-wrap" ng-click="viewChat(chat.id,$index)">
        <img ng-show="chat.avatar.length == 1" ng-src="{{base_url}}{{chat.avatar[0]}}" >
        <div ng-show="1 < chat.avatar.length && chat.avatar.length < 4" class="avatar-many" >
           <img style="float:left" ng-src="{{base_url}}{{avatar}}" ng-repeat="avatar in chat.avatar track by $index" ng-class="{'two-users':chat.avatar.length+1 <= 3,'four-users':chat.avatar.length+1 < 5 && chat.avatar.length+1 > 3,'more-users':chat.avatar.length+1 >= 5}"></img>
          <img style="float:left" ng-src="{{$root.avatar_img}}" ng-class="{'two-users':chat.avatar.length+1 <= 3,'four-users':chat.avatar.length+1 < 5 && chat.avatar.length+1 > 3,'more-users':chat.avatar.length+1 >= 5}"></img>
        </div>
        <i ng-if="chat.avatar.length >= 4" class="icon ion-ios-people" style="position:absolute;left:17px;font-size:44px;"></i>
        <h2>
          <span ng-repeat="user in chat.users" ng-if="user.User.id!=$root.user_id">
            {{user.User.username}}
            <span ng-if="!$last">,</span>
          </span>
        </h2>
        <p>{{chat.message.Message.body}}</p>
        <!-- <p>{{chat.message.Message.body.split('\n')[0]}}</p> -->
        <i class="icon ion-chevron-right icon-accessory"></i>

       <span ng-show="$root.groupchatNotif[chat.id]" show-badge badge-id="{{chat.id}}" badge-type="groupchat" class="badge badge-assertive">{{$root.groupchatNotif[chat.id]}}</span>
      </ion-item>
    </ion-list>
    <ion-infinite-scroll ng-if="numberOfGCToDisplay < chatsPreview.length" on-infinite="loadMoreGC()" distance="1%"></ion-infinite-scroll>
  </ion-content>
</ion-view>
