<ion-view view-title="タイムライン" cache-view="false">
   <!-- <ion-nav-buttons side="left">
    <button class="button back-button buttons button-clear header-item" ng-click="goBack()">
      <i class="icon ion-ios-arrow-back"></i>
    </button>
  </ion-nav-buttons> -->
  <ion-content>
      <div class="list card" ng-click="gotoDetails(timeVal.id,timeVal.index)" ng-repeat="timeVal in timelineVal | orderBy : '-modified'">
           <div class="item item-avatar">
            <img src="img/avatar.png">
                <h3>{{timeVal.Owner.User.username}} {{timeVal.Owner.username}}</h3>
                <h6>{{timeVal.modified}}</h6>
           </div>
         <div class="item item-body">
            <img class="full-image"  ng-repeat="uploads in timeVal.Upload" src=" {{base_url}}{{uploads.Upload.path}}">
             <p>{{timeVal.title}} {{timeVal.body}}</p>
             <h6 align="right" ng-hide="timeVal.index===undefined">
             <a href="#" class="subdued">{{timeVal.likes}} Like</a>
             <a href="#" class="subdued">{{timeVal.Comment.length}} Comment</a>
             </h6>
         </div>
      </div>

  </ion-content>
</ion-view>
