<ion-view can-swipe-back="false" view-title="タイムライン" cache-view="false">
   <!-- <ion-nav-buttons side="left">
    <button class="button back-button buttons button-clear header-item" ng-click="goBack()">
      <i class="icon ion-ios-arrow-back"></i>
    </button>
  </ion-nav-buttons> -->
  <ion-content>
      <div class="list card" ng-click="gotoDetails(timeVal.id,timeVal.index)" ng-repeat="timeVal in timelineVal | orderBy : '-modified'">
           <div class="item item-avatar">
            <img src="img/avatar.png" ng-show="timeVal.Owner.User.avatar_img==''||timeVal.Owner.User.avatar_img=='null'||timeVal.Owner.User.avatar_img==null">
            <img class="avatar" ng-src="{{base_url}}{{timeVal.Owner.User.avatar_img}}" ng-show="timeVal.Owner.User.avatar_img!=''&&timeVal.Owner.User.avatar_img!='null'&&timeVal.Owner.User.avatar_img!=null">
            <img>
                <h3 style="margin-top: -20px;">{{timeVal.Owner.User.username}} {{timeVal.Owner.username}}</h3>
                <h6>{{timeVal.modified}}</h6>
           </div>
         <div class="item item-body">
            <img class="full-image"  ng-repeat="uploads in timeVal.Upload" src=" {{base_url}}{{uploads.Upload.path}}">
             <span class="ShingoProL">{{timeVal.title}} {{timeVal.body}}</span>
             <h6 align="right" ng-hide="timeVal.index===undefined">
             <a href="#" class="subdued" ng-if="timeVal.likes_count < 1">いいね！ {{timeVal.likes_count}}</a>
             <a href="" class="subdued" ng-if="timeVal.likes_count > 0" prevent-href=true><span ng-click="showLikes(timeVal.id)">いいね！ {{timeVal.likes_count}}</span></a>
             <a href="#" class="subdued">コメント {{timeVal.Comment.length}}</a>
             </h6>
         </div>
      </div>

  </ion-content>
</ion-view>
