{"filter":false,"title":"config.xml","tooltip":"/config.xml","undoManager":{"mark":-1,"position":-1,"stack":[]},"ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":72,"column":48},"end":{"row":72,"column":48},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":{"row":0,"state":"start","mode":"ace/mode/xml"}},"timestamp":1498717824188,"hash":"de9a2834bb4d2b81238ff4f6229568a8346891d5"}