{"filter":false,"title":"GoogleService-Info.plist","tooltip":"/GoogleService-Info.plist","undoManager":{"mark":-1,"position":-1,"stack":[]},"ace":{"folds":[],"scrolltop":61,"scrollleft":0,"selection":{"start":{"row":0,"column":0},"end":{"row":0,"column":0},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":{"row":3,"state":"start","mode":"ace/mode/xml"}},"timestamp":1488801695445,"hash":"a2b854e2e218dbb8b71a8b4c067de6b338cbf5fe"}