# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

node_modules/
platforms/
plugins/
npm-debug.log.c9/*
.c9
www/npm-debug.log
.c9*
.ssh/*
.bash*
.cache*
.profile
.ionic/*
