<style type="text/css">
    .modal-width-50 .modal-sm {
        width:20%;
    }
    p.head-comment,
    p.head-body{
        white-space: pre-line;
    }
    .blue	 {
		color: #5bc0de;
	}
	#loading {
	    height: 100%;
	    position: fixed;
	    z-index: 999;
	    width: 100%;
	    left: 0px;
	    top: 0px;
	    overflow: hidden;
	    background-color: rgba(128,128,128, 0.4);
	    /*opacity: .5;*/
	}
	.loading-element-component {
		text-align: center;
	    margin-top: 20%;
	    font-size:20px;
	}
	.text-yellow{
		color: orange;
	}
    .thread-users span.comma:last-child {
        display: 'none';
    }
    .liked {
        font-weight: bolder;
        background: blue;
    }
    .badge-like,
    .add-member {
        cursor: pointer;
    }
    
</style>


<div class="panel colourable" ng-if="selectedHead.Thread.id" id="threadContent" style="overflow-y: scroll;height: 900px;margin-bottom:0px !important;">
                    <script type="text/javascript">
                      //読み込み時の表示
                      window_load();

                      //ウィンドウサイズ変更時に更新
                      window.onresize = window_load;

                      //サイズの表示F
                      function window_load() {
                        var sH = window.innerHeight;

                        document.getElementById("threadContent").style.height = sH - 190 + "px";

                      }
                    </script>  
<div id="loading" ng-if="!selectedHead.Thread.id">
	<div class="loading-overlay-component"></div>
	<div class="loading-element-component">
		<i class="blue fa fa-spinner fa-spin fa-4x"></i>
        <p class="text-yellow">LOADING</p>
	</div>
</div>                    
    <div class="panel-heading">
        <span class="panel-title">
            <div>
                <small>
                    {{selectedHead.Thread.title}}
                </small>
                <p class="head-body" ng-init="fromattedBody=formatComment(selectedHead.Head.body)" style="font-weight: 600;">
                    {{fromattedBody}}
                </p>
                <p style="margin-top:8px;">
                  <span ng-repeat="upload in selectedHead.Upload.image">
                      <span ng-init="upload.isFileImage=checkFile(upload.path)"></span>
                      <a ng-href="{{upload.path}}" target="_blank" ng-if="!upload.isFileImage">
                        {{upload.name}}
                      </a>
                      <a fancybox ng-href="{{upload.path}}" ng-if="upload.isFileImage">
                          <img ng-src="{{imageBaseURL}}{{upload.path}}" class="img-responsive thumbnail" width="150" height="50"></img>
                      </a>
                  </span>
                  <span ng-repeat="upload in selectedHead.Upload.non_image">
                      <span ng-init="upload.isFileImage=checkFile(upload.path)"></span>
                      <a ng-href="{{upload.path}}" target="_blank" ng-if="!upload.isFileImage">
                        {{upload.name}}
                      </a>
                      <a fancybox ng-href="{{upload.path}}" ng-if="upload.isFileImage">
                          <img ng-src="{{imageBaseURL}}{{upload.path}}" class="img-responsive thumbnail" width="150" height="50"></img>
                      </a>
                  </span>
                </p>
            </div>

            <span style="font-size:11px;">
                {{selectedHead.Head.created}}
            </span>
		        <span style="font-size:11px;">by: {{selectedHead.Owner.username == loginUser.username ? "あなた": selectedHead.Owner.username}}</span>
        </span>
        <div class="panel-heading-controls">
            <a href="javascript:void(0)" class="text-xs" ng-if="selectedHead.Head.likes_count > 0 && !selectedHead.Head.isUserLiked" ng-click="showUsers(selectedHead.Head.likes)">
                {{selectedHead.Head.likes_count}} 人がいいね！と言っています
            </a>
            <a href="javascript:void(0)" class="text-xs" ng-if="selectedHead.Head.likes_count > 1 && selectedHead.Head.isUserLiked" ng-click="showUsers(selectedHead.Head.likes)">
                あなたと {{selectedHead.Head.likes_count - 1}} 人がいいね！と言っています
            </a>
            <button ng-if="selectedHead.Owner.id != loginUser.id" class="btn btn-sm {{(selectedHead.Head.isUserLiked)?'':'btn-outline'}} btn-warning" ng-disabled="selectedHead.Head.processing" ng-click="like($index, selectedHead.Head)">
                <span class="fa fa-thumbs-o-up"></span>
            </button>
            
            <div ng-if="selectedHead.Owner.id == loginUser.id" class="btn-group btn-group-sm">
              <button class="btn btn-info dropdown-toggle" type="button" data-toggle="dropdown"><span class="fa fa-cog"></span>&nbsp;<span class="fa fa-caret-down"></span></button>
              <ul class="dropdown-menu dropdown-menu-right">
                <li><a href="" class="clickable" role="button" ng-click="editHead(selectedHead.Head)">編集</a></li>
                <li><a href="" class="clickable" role="button" ng-click="deleteHead(selectedHead.Thread.id, selectedHead.Head.id)">削除</a></li>
              </ul> <!-- / .dropdown-menu -->
            </div> <!-- / .btn-group -->
        </div> <!-- / .panel-heading-controls -->
    </div> <!-- / .panel-heading -->
    <ul class="list-group">
        <li class="list-item" ng-if="selectedHead.Comment.length">
            <ul class="list-group commentList">
                <li class="list-group-item" ng-repeat="c in selectedHead.Comment | unique : 'id'" ng-init="$last && fireMessageEvent()">
                    <p>
                        {{c.User.username == loginUser.username ? "あなた" : c.User.username }}
                        
                        <button title="コメントを削除" ng-if="c.User.id == loginUser.id" class="pull-right btn-danger btn-group-xs" ng-click="deleteComment($index, c.id)">
                            <i class="fa fa-trash"></i>
                        </button>
                    </p>
                    
                    
            
                    <!--<p class="head-comment" ng-init='c.formattedComment=formatComment(c.body)' >-->
                    <p class="head-comment" string-to-link="c.body" >
                        <!--{{c.formattedComment}}-->
                    </p>
                    <p>
                        <span ng-repeat="u in c.Uploads">
                            <span ng-init="u.isFileImage=checkFile(u.Upload.name)"></span>
                            <a ng-href="{{u.Upload.path}}" target="_blank" ng-if="!u.isFileImage">
                              {{u.Upload.name}}
                            </a>
                            <a fancybox ng-href="{{u.Upload.path}}" ng-if="u.isFileImage">
                                <img ng-src="{{imageBaseURL}}{{u.Upload.path}}" class="img-responsive thumbnail" width="150" height="50"></img>
                            </a>
                        </span>
                    </p>
                    <span style="font-size:10px;">{{c.created}}</span>
                    <button ng-if="c.User.id != loginUser.id" class="btn btn-xs {{(c.isUserLiked)?'':'btn-outline'}} btn-warning pull-right" ng-disabled="c.processing" ng-click="likeComment($index, c)">
                        <span class="fa fa-thumbs-o-up"></span>
                    </button>
                    <a href="javascript:void(0)" class="text-xs pull-right" ng-if="c.likes_count > 0 && !c.isUserLiked" ng-click="showUsers(c.likes)">
                        {{c.likes_count}} 人がいいね！と言っています
                    </a>
                    <a href="javascript:void(0)" class="text-xs pull-right" ng-if="c.likes_count > 1 && c.isUserLiked" ng-click="showUsers(c.likes)">
                        あなたと {{c.likes_count - 1}} 人がいいね！と言っています
                    </a>
                </li>
            </ul>
        </li>
    </ul>

</div> <!-- / .panel -->
        <div id="threadCommentFrm" style="display: fixed; bottom:0;background-color:#f3f3f3;padding:10px;" class="col-sm-12">
            <form  role="form" id="commentFrm" name="commentFrm" method="POST" enctype="multipart/form-data" 
                        novalidate ng-submit="sendComment()">
                <span id="CommentFrmHead" style="position: relative;">
                        <input type="text" name="data[Upload][comment_id]" class="hidden" id="comment-id" ng-model="comment.comment_id" />
                    <input style="display: inline;" type="file" name="data[Upload][file]" id="attachments"  multiple />
                    <button type="submit" class="btn btn-sm btn-primary pull-right" style="margin-top:4px;">コメント</button>
                </span>
                <textarea ng-click='textboxClicked(selectedHead.Head.id)' name="data[Upload][body]" class="form-control" id="body" placeholder="共有したい情報を投稿" ng-model="comment.body"></textarea>
                
            </form>
        </div>

<div ng-repeat="template in templates" ng-include="template"></div>