<style type="text/css">
    .blue	 {
		color: #5bc0de;
	}
	#loading {
	    height: 100%;
	    position: fixed;
	    z-index: 999;
	    width: 100%;
	    left: 0px;
	    top: 0px;
	    overflow: hidden;
	    background-color: rgba(128,128,128, 0.4);
	    /*opacity: .5;*/
	}
	.loading-element-component {
		text-align: center;
	    margin-top: 20%;
	    font-size:20px;
	}
	.text-yellow{
		color: orange;
	}
    .thread-users span.comma:last-child {
        display: 'none';
    }
    .liked {
        font-weight: bolder;
        background: blue;
    }
    .badge-like,
    .add-member {
        cursor: pointer;
    }
    
</style>

<div id="loading" ng-if="!selectedHead.Thread.id">
	<div class="loading-overlay-component"></div>
	<div class="loading-element-component">
		<i class="blue fa fa-spinner fa-spin fa-4x"></i>
        <p class="text-yellow">LOADING</p>
	</div>
</div>
<div class="panel colourable" ng-if="selectedHead.Thread.id">
    <div class="panel-heading">
        <span class="panel-title">
            <div>
                <small>
                    {{selectedHead.Thread.title}}
                </small>
                <label class="lead">
                    {{selectedHead.Head.body}}
                </label>
            </div>
            
            <br>
            <span style="font-size:11px;">
                {{selectedHead.Thread.created}}
            </span>
        </span>
        <div class="panel-heading-controls">
            <button class="btn btn-sm {{(selectedHead.Head.isUserLiked)?'':'btn-outline'}} btn-warning" ng-disabled="selectedHead.Head.processing" ng-click="like($index, selectedHead.Head)">
                 {{selectedHead.Head.likes}}
                <span class="fa fa-thumbs-o-up"></span>
            </button>
            
            <div class="btn-group btn-group-sm">
              <button class="btn btn-info dropdown-toggle" type="button" data-toggle="dropdown"><span class="fa fa-cog"></span>&nbsp;<span class="fa fa-caret-down"></span></button>
              <ul class="dropdown-menu dropdown-menu-right">
                <li><a href="" class="clickable" role="button" ng-click="editHead(selectedHead.Head)">編集</a></li>
                <li><a href="" class="clickable" role="button" ng-click="deleteHead(selectedHead.Thread.id, selectedHead.Head.id)">削除</a></li>
              </ul> <!-- / .dropdown-menu -->
            </div> <!-- / .btn-group -->
        </div> <!-- / .panel-heading-controls -->
    </div> <!-- / .panel-heading -->
    <ul class="list-group">
        <li class="list-group-item">
            <div class="row">
                <div class="col-md-12">
                    <p>
                         <span ng-repeat="upload in selectedHead.Upload">
                            <a fancybox ng-href="{{upload.path}}">
                                <img ng-src="{{upload.path}}" class="img-responsive thumbnail" width="150" height="50"></img>
                            </a>
                        </span>
                    </p>
                </div>
            </div>
        </li>
        <li class="list-item" ng-if="selectedHead.Comment.length">
            <ul class="list-group commentList">
                <li class="list-group-item" ng-repeat="c in selectedHead.Comment | unique : 'id'" ng-init="$last && fireMessageEvent()">
                    <small>by : {{c.User.username == loginUser.username ? "You" : c.User.username }}</small>
                    <p>{{c.body}}</p>
                    <p>
                         <span ng-repeat="upload in c.Upload">
                            <a fancybox ng-href="{{upload.path}}">
                                <img ng-src="{{upload.path}}" class="img-responsive thumbnail" width="150" height="50"></img>
                            </a>
                        </span>
                    </p>
                    <span style="font-size:10px;">{{c.created}}</span>
                    <button class="btn btn-xs {{(c.isUserLiked)?'':'btn-outline'}} btn-warning pull-right" ng-disabled="c.processing" ng-click="likeComment($index, c)">
                        {{c.likes}}
                        <span class="fa fa-thumbs-o-up"></span>
                    </button>
                </li>
            </ul>
        </li>
        <li class="list-group-item form-group">
            <form  role="form" id="commentFrm" name="commentFrm" method="POST" enctype="multipart/form-data" 
                        novalidate ng-submit="sendComment()">
                
                <input type="text" name="data[Upload][comment_id]" class="hidden" id="comment-id" ng-model="comment.comment_id" />
                <input type="file" name="data[Upload][file]" id="attachments"  multiple />
                <textarea ng-click='textboxClicked()' name="data[Upload][body]" class="form-control" id="body" placeholder="共有したい情報を投稿" ng-model="comment.body"></textarea>
                <button type="submit" class="btn btn-sm btn-primary pull-right" style="margin-top:4px;">コメント</button>
                
            </form>
        </li>
    </ul>
</div> <!-- / .panel -->

<div ng-repeat="template in templates" ng-include="template"></div>