@charset "utf-8";
body,html{
    height: 100%;
}
.noscroll {
  overflow: hidden;
}
nav.sidebar, .main{
-webkit-transition: margin 200ms ease-out;
  -moz-transition: margin 200ms ease-out;
  -o-transition: margin 200ms ease-out;
  transition: margin 200ms ease-out;
}

.main{
padding: 10px 10px 0 10px;
}

 @media (min-width: 765px) {

    .main{
      position: absolute;
      width: calc(100% - 40px); 
      margin-left: 40px;
      float: right;
    }

    nav.sidebar:hover + .main{
      margin-left: 200px;
    }

    nav.sidebar.navbar.sidebar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
      margin-left: 0px;
    }

    nav.sidebar .navbar-brand, nav.sidebar .navbar-header{
      text-align: center;
      width: 100%;
      margin-left: 0px;
    }
    
    nav.sidebar a{
      padding-right: 13px;
    }

    nav.sidebar .navbar-nav > li:first-child{
      border-top: 1px #e5e5e5 solid;
    }

    nav.sidebar .navbar-nav > li{
      border-bottom: 1px #e5e5e5 solid;
    }

    nav.sidebar .navbar-nav .open .dropdown-menu {
      position: static;
      float: none;
      width: auto;
      margin-top: 0;
      background-color: transparent;
      border: 0;
      -webkit-box-shadow: none;
      box-shadow: none;
    }

    nav.sidebar .navbar-collapse, nav.sidebar .container-fluid{
      padding: 0 0px 0 0px;
    }

    .navbar-inverse .navbar-nav .open .dropdown-menu>li>a {
      color: #777;
    }

    nav.sidebar{
      width: 200px;
      height: 100%;
      margin-left: -160px;
      float: left;
      margin-bottom: 0px;
    }

    nav.sidebar li {
      width: 100%;
    }

    nav.sidebar:hover{
      margin-left: 0px;
    }

    .forAnimate{
      opacity: 0;
    }
  }
   
  @media (min-width: 1330px) {

    .main{
      width: calc(100% - 200px);
      margin-left: 200px;
    }

    nav.sidebar{
      margin-left: 0px;
      float: left;
    }

    nav.sidebar .forAnimate{
      opacity: 1;
    }
  }

  nav.sidebar .navbar-nav .open .dropdown-menu>li>a:hover, nav.sidebar .navbar-nav .open .dropdown-menu>li>a:focus {
    color: #CCC;
    background-color: transparent;
  }

  nav:hover .forAnimate{
    opacity: 1;
  }
  section{
    padding-left: 15px;
  }
  
 
 
.detailBox {
    width:100%;
    border:1px solid #bbb;
    padding:5px;
}
.titleBox {
    background-color:#fdfdfd;
    padding:10px;
}
.titleBox label{
  color:#444;
  margin:0;
  display:inline-block;
}

.commentBox {
    padding:10px;
    border-top:1px dotted #bbb;
}
.commentBox .form-group:first-child, .actionBox .form-group:first-child {
    width:80%;
}
.commentBox .form-group:nth-child(2), .actionBox .form-group:nth-child(2) {
    width:18%;
}
.actionBox .form-group * {
    width:100%;
}
.taskDescription {
    margin-top:10px 0;
}
.commentList, ul[class*=" commentList-"] {
    padding:0;
    list-style:none;
    /*max-height:250px;*/
    overflow:auto;
}
/*.commentList li {*/
/*    margin:0;*/
/*    margin-top:10px;*/
/*}*/
/*.commentList li > div {*/
/*    display:table-cell;*/
/*}*/
.commenterImage {
    width:30px;
    margin-right:5px;
    height:100%;
    float:left;
}
.commenterImage img {
    width:100%;
    border-radius:50%;
}
.commentText p {
    margin:0;
}
.sub-text {
    color:#aaa;
    font-family:verdana;
    font-size:11px;
}
.actionBox {
    border-top:1px dotted #bbb;
    padding:10px;
}


/*Mock up update*/
.clickable:hover{
  cursor: pointer
}

.datepicker{
    z-index: 1151 !important;
    position: absolute;
}

.theme-default {
  background: #FFF;
}

.top{
  background: #00A6EA;
}

.login_box{
  margin-top:50px !important;
}
.login_box input{
  border:none;
  width:100%;

  padding:5px 5px;
}
.login_box ul{
  margin:0px;
  padding:0px;
}
.login_box li {
  font-size:16px;
  color:#00A0E8;
  text-align:center;
  margin-bottom:10px;
  list-style:none;
}
.login_box li span{
  display:block;
  background-color:#FFF;
  padding:5px 5px;
}

.logout_box{
    position: fixed;
    text-align: center;
    bottom: 32px;
    width: inherit;
}

.menu-panel{
  text-align:center;
  padding:104px 0px 104px 0px;
  color:#ffffff;
}
.menu-panel > i{
  font-size:78px;
}
.menu-panel > div{
  font-size:22px;
  padding-top:8px;
}

.cat_01{
  background-color:#00A0E8;
}
.cat_02{
  background-color:#54C2F1;
}
.cat_03{
  background-color:#9ED8F6;
}
.cat_04{
  background-color:#5A8AA3;
}
.cat_05{
  background-color:#182D79;
}
.cat_06{
  background-color:#5A83A6;
}

.theme-default #main-menu-bg {
  background-color: #FFF;
}

.second_left {
  background-color: #00A0E8!important;
}
#main-menu .navigation {
  padding: 16px 0 0;
}
.theme-default #main-menu .navigation a,
.theme-default #main-menu .mmc-dropdown-open-ul a {
  /*color: #808b9c;*/
  color: #e5e5e5;
}
.theme-default #main-menu .navigation a:hover,
.theme-default #main-menu .mmc-dropdown-open-ul a:hover {
  color: #fff;
}
.theme-default #main-menu .navigation a:hover:after,
.theme-default #main-menu .mmc-dropdown-open-ul a:hover:after {
  display: block !important;
  background: #006bb0;
}
.theme-default #main-menu ul > li {
  /*text-align:center;*/
  background-color: #00A0E8;
  color: #fff;
}
.theme-default #main-menu ul > li > a {
  background-color: #00A0E8 !important;
}
.theme-default #main-menu ul > li > ul > li > a {
  background-color: #00a7ec !important;
  color: #fff;
}
.theme-default #main-menu li.active > a .menu-icon {
    color: #fff;
}
.theme-default #main-menu ul > li > ul > li.active > a {
    color: #fff;
    background-color: #0084d0 !important;
}
/*.theme-default #main-menu li.active > a:hover {
    color: #005ba0;
    cursor:default;
}*/
.theme-default #main-menu .menu-content {
    border-color:#1d89cf;
    text-align:center;
    margin:auto 8px;
}
.theme-default #main-menu .mmc-dropdown-open-ul {
  background: #1a7ab9;
}
.theme-default #main-menu .mmc-dropdown-open-ul .mmc-title {
  background: #006bb0;
  /*color: #fff;*/
}
.theme-default #main-menu .mmc-dropdown-open > a {
  background: #006bb0 !important;
}
.theme-default #main-menu .mmc-dropdown-open > a:hover:after {
  display: none !important;
  background-color: #0084d0 !important;
}
@media (min-width: 768px){
  #main-wrapper, .mme #main-wrapper {
    padding-left: 200px;
  }
  #main-menu ul.navigation>li {
      width: 200px;
  }
  #main-menu, #main-menu-bg, .mme #main-menu, .mme #main-menu-bg {
      overflow: hidden;
      width: 200px;
  }
}
#content-wrapper {
    padding: 8px;
    width: 100%;
    position: relative;
}

.history > .year{
  font-size:18px;
  width:4em;
}
.history > .month{
  font-size:14px;
  margin-left:16px;
}
.history > .month.lead{
  font-size:22px;
}

.table>tbody>tr>td.td-input{
  padding:4px;
  vertical-align:inherit;
}
input.sm-input{
  width:80px;
  font-weight:bold;
  border:1px solid #e0e0e0;
  font-size:14px;
  /*text-align:center !important;*/
}


/* timeline */
.message-item {
margin-bottom: 25px;
margin-left: 40px;
position: relative;
}
.message-item .message-inner {
background: #fff;
border: 1px solid #ddd;
border-radius: 3px;
padding: 10px;
position: relative;
}
.message-item .message-inner:before {
border-right: 10px solid #ddd;
border-style: solid;
border-width: 10px;
color: rgba(0,0,0,0);
content: "";
display: block;
height: 0;
position: absolute;
left: -20px;
top: 6px;
width: 0;
}
.message-item .message-inner:after {
border-right: 10px solid #fff;
border-style: solid;
border-width: 10px;
color: rgba(0,0,0,0);
content: "";
display: block;
height: 0;
position: absolute;
left: -18px;
top: 6px;
width: 0;
}
.message-item:before {
background: #fff;
border-radius: 2px;
bottom: -30px;
box-shadow: 0 0 3px rgba(0,0,0,0.2);
content: "";
height: 100%;
left: -30px;
position: absolute;
width: 3px;
}
.message-item:after {
background: #fff;
border: 2px solid #ccc;
border-radius: 50%;
box-shadow: 0 0 5px rgba(0,0,0,0.1);
content: "";
height: 15px;
left: -36px;
position: absolute;
top: 10px;
width: 15px;
}
.clearfix:before, .clearfix:after {
content: " ";
display: table;
}
.message-item .message-head {
border-bottom: 1px solid #eee;
margin-bottom: 8px;
padding-bottom: 8px;
}
.message-item .message-head .avatar {
margin-right: 20px;
}
.message-item .message-head .user-detail {
overflow: hidden;
}
.message-item .message-head .user-detail h5 {
font-size: 16px;
font-weight: bold;
margin: 0;
}
.message-item .message-head .post-meta {
float: left;
padding: 0 15px 0 0;
}
.message-item .message-head .post-meta >div {
color: #333;
font-weight: bold;
text-align: right;
}
.post-meta > div {
color: #777;
font-size: 12px;
line-height: 22px;
}
.message-item .message-head .post-meta >div {
color: #333;
font-weight: bold;
text-align: right;
}
.post-meta > div {
color: #777;
font-size: 12px;
line-height: 22px;
}



/*Loading*/
.blue	 {
	color: #5bc0de;
}
#loading {
    height: 100%;
    position: fixed;
    z-index: 999;
    width: 100%;
    left: 0px;
    top: 0px;
    overflow: hidden;
    background-color: rgba(128,128,128, 0.4);
    /*opacity: .5;*/
}
.loading-element-component {
	text-align: center;
    margin-top: 20%;
    font-size:20px;
}
.text-yellow{
	color: orange;
}
#main-wrapper{
  overflow-y:scroll!important;
}