<ion-modal-view style="top:0px !important">
   <ion-header-bar class="bar bar-header ">
       <div class="buttons">
          <button class="button" ng-click="resetForm()">Cancel</button>
      </div>
      <h1 class="title">New message</h1>
      <div class="buttons">
          <button class="button" ng-click="createGroupChat()">Done</button>
      </div>
    </ion-header-bar>
    <ion-header-bar class="bar-light bar-subheader" style="border-top: 1px solid;" ng-init="userFilter=''">
      <span style="position: absolute;left: 10px;margin-top: 10px;font-size: 15px;">To:</span>
      <input type="search" id="searchUserChat" ng-model="$root.usersToadd" ng-focus="searchFocused = true"
             ng-blur="searchFocused = false" ng-keyup="checkSearch($event)"
             placeholder="" class="full-width chatsearch">
    </ion-header-bar>
    <ion-content class="has-subheader">
        <div class="list" ng-show="!$root.showList && $root.addedUsernames.length > 0">
          <a class="item item-icon-left" href="" item-height="50px" item-width="100%" collection-repeat="user in $root.addedUsernames track by $index">
            <i class="icon ion-ios-close-outline" ng-click="removeUserChat($index)"></i>
            {{user}}
          </a>
        </div>
        <div class="list" ng-show="$root.showList">
            <a class="item item-avatar item-icon-right" href="" ng-click="addUser(user)" ng-repeat="user in users | filter:{User:{username:$root.usersToadd}}">
              <img src="img/avatar.png">
              <h2>{{user.User.username}}</h2>
              <i ng-show="$root.addedUserIds.indexOf(user.User.id) > -1" class="icon ion-checkmark-round"></i>
            </a>
        </div>
        <!--<ion-infinite-scroll ng-if="numberOfUsersToDisplay < users.length" on-infinite="loadMoreUsers()" distance="1%"></ion-infinite-scroll>-->
    </ion-content>
  </ion-modal-view>