<ion-modal-view>
   <ion-header-bar class="bar-positive">
      <h1 class="title">Add Member</h1>
      <div class="buttons">
          <button class="button" ng-click="addMemberModal.hide()">Close</button>
      </div>
    </ion-header-bar>
    <ion-content>
        <ul class="list">
            <li class="item item-checkbox" item-height="55px" item-width="100%" collection-repeat="user in notMembers.users track by $index" >
                {{user.User.username}}
               <label class="checkbox">
               <input ng-change="addNewMember(user.User,checkedUser,$index)" type="checkbox" value="1" ng-model="checkedUser">
               </label>
            </li>
        </ul>
    </ion-content>
  </ion-modal-view>