<ion-modal-view>
   <ion-header-bar class="bar-positive">
     <div class="buttons">
         <button class="button" ng-click="resetHeadForm();$root.showAddHead.hide();$root.headPopover.hide();">閉じる</button>
     </div>
      <h1 class="title">共有したい情報を投稿</h1>
    </ion-header-bar>
    <ion-content>
    <div class="row">
      <h4>本文:</h4>

        <i ng-show="$root.headAction=='add'" class="icon ion-image img" ng-click="selectPicture('upload')"></i>
        <i ng-show="$root.headAction=='add'" class="icon ion-ios-camera cam" ng-click="selectPicture('takePhoto')"></i>

    </div>
    <div class="row">
      <div class="col">
        <label class="item item-input text">
          <textarea rows="10" ng-model="$root.headContent.body" id="headBody" ng-Required="true" name="content" data-tap-disabled="true"></textarea>
        </label>

      </div>
    </div>
    <div class="row" ng-show="uploadedImgs.length > 0 && $root.headAction=='edit'" >
      <div class="col">
        <ion-scroll direction="x" class="item" style="padding: 0px;height:120px !important;border:0px">
          <a ng-repeat="im in uploadedImgs track by $index" style="height:120px;display:inline-block;text-align:center;margin-right:4px;">
            <img ng-show="im.Upload.name" ng-src="{{base_url}}{{im.Upload.path}}" style="width:auto;max-height:120px;" />
            <img ng-show="!im.Upload.name" ng-src="{{im.Upload.path}}" style="width:auto;max-height:120px;" />
          </a>
        </ion-scroll>
      <!-- <span >
      <a class="item-thumbnail" ng-repeat="i in $root.headContent.Uploads track by $index">
        <!-- <i ng-click="removeUploads($index)" class="icon ion-ios-close" style="font-size: 30px;position: absolute;margin-left: 45px;"></i> -->
         <!-- <img ng-show="i.Upload.name" ng-src="{{base_url}}{{i.Upload.path}}">
         <img ng-show="!i.Upload.name" ng-src="{{i.Upload.path}}"> -->
      <!-- </a> -->
      <!-- </span> -->
      </div>
    </div>
  <div class="row" ng-show="uploadedImgs.length > 0 && $root.headAction=='add'">
    <div class="col">
      <ion-scroll direction="x" class="item" style="padding: 0px;height:120px !important;border:0px">
        <a ng-repeat="im in uploadedImgs track by $index" style="height:120px;display:inline-block;text-align:center;margin-right:4px;">
          <img ng-src="{{im}}" ng-click="setChosenImg($index);showImages({{$index}});$scope.showChosenImage=-1;" style="width:auto;max-height:120px;" />
        </a>
      </ion-scroll>
    </div>
  </div>
<div style="text-align:center">
<button class="button button-center" ng-click="resetHeadForm();$root.showAddHead.hide();$root.headPopover.hide();">
  キャンセル
</button>
<button ng-show="headAction=='edit'" class="button button-center button-positive" ng-class="{'disabled':!$root.headContent.body}" ng-click="$root.processEditingHead()">
  更新
</button>
<button ng-show="headAction=='add'" class="button button-center button-positive" ng-class="{'disabled':!$root.headContent.body}" ng-click="processAddingHead()">
  投稿
</button>
</div>
 </ion-content>
  </ion-modal-view>
