<div class="modal image-modal" ng-click="closeModal()" style="background: rgba(0, 0, 0, 0.86);">
    <ion-slide-box on-slide-changed="slideChanged(index)" show-pager="true" class="has-tabs">
        <ion-slide ng-repeat="im in sliderImages">
            <img ng-if="imageType=='comment'" ng-src="{{base_url}}{{im.Upload.path}}" class="fullscreen-image"/>
             <img ng-if="imageType=='head'" ng-src="{{base_url}}{{im.path}}" class="fullscreen-image"/>
        </ion-slide>
    </ion-slide-box>
</div>