<div class="modal image-modal transparent" ng-click="closeModal()" style="background: rgba(0, 0, 0, 0.86);">
    
    <ion-slide-box on-slide-changed="slideChanged(index)" active-slide="activeSlide" show-pager="true" class="has-tabs" delegate-handle="images">
        <ion-slide ng-repeat="im in sliderImages track by $index">
      <ion-scroll direction="xy" scrollbar-x="false" scrollbar-y="false"
      zooming="true" min-zoom="1" style="width: 100%; height: 100%"
      delegate-handle="scrollHandle{{$index}}" on-scroll="updateSlideStatus($index)" on-release="updateSlideStatus($index)" overflow-scroll="false">
 
      <div ng-if="imageType=='comment' && !uploadedImages" class="image" style="background-image: url( {{base_url}}{{im.path}} )"></div>
      <div ng-if="(imageType=='head' || imageType=='') && !uploadedImages" class="image" style="background-image: url( {{base_url}}{{im.path}} )"></div>
      <div ng-if="uploadedImages" class="image" style="background-image: url({{im}} )"></div>
        <div ng-show="uploadedImages && uploadedType=='chat'" ng-click="removeUploadedChatImg($index,im)" style="position:absolute;bottom:30px;right:10px;padding:10px;border:solid 1px;color:white;border-radius:10px">Remove</div> 
        <div ng-show="uploadedImages && uploadedType=='head'" ng-click="removeUploadedImg($index)" style="position:absolute;bottom:30px;right:10px;padding:10px;border:solid 1px;color:white;border-radius:10px">Remove</div>    
        <div ng-show="uploadedImages && uploadedType=='comment'" ng-click="removeUploadedCommentImg($index)" style="position:absolute;bottom:30px;right:10px;padding:10px;border:solid 1px;color:white;border-radius:10px">Remove</div>

    </ion-scroll>
    
        </ion-slide>
    </ion-slide-box>
</div>
