<ion-modal-view>
   <ion-header-bar class="bar-positive">
      <h1 class="title">Members</h1>
      <div class="buttons">
          <button class="button" ng-click="showMemberList.hide()">Close</button>
      </div>
    </ion-header-bar>
    <ion-content>
        <ul class="list">
              <li class="item " ng-class="{'item-checkbox':thread.Owner.id==$root.user_id}" item-height="55px" item-width="100%" collection-repeat="us in thread.User track by $index" >
                {{us.username}}
               <label class="checkbox" ng-show="thread.Owner.id==$root.user_id">
               <input ng-show="thread.Owner.id==$root.user_id" ng-click="removeMember(us,$index)" type="checkbox" value="1" ng-model="us.selected">
               </label>
            </li>
          
        </ul> 
    </ion-content>
  </ion-modal-view>