<ion-modal-view>
  <ion-header-bar class="bar bar-stable">
    <h1 class="title">グループ<span ng-show="$root.modalAction=='edit'">編集</span><span ng-show="$root.modalAction=='add'">作成</span></h1>
  </ion-header-bar>
  <ion-content>
    <div class="list">
      <label class="item item-input item-stacked-label">
        <!-- <input type="text" placeholder="グループ名" ng-model="$root.modalContent.title"> -->
        <input placeholder="グループ名" ng-model="$root.modalContent.title"></input>
      </label>
    </div>
    <div style="text-align:center">

      
      <button ng-show="$root.modalAction=='edit'" class="button button-center button-left button-mordal" ng-class="{'disabled':!$root.modalContent.title}" ng-click="processEditingThread()">
        更新
      </button>
      <button ng-show="$root.modalAction=='add'" class="button button-center button-left button-mordal" ng-class="{'disabled':!$root.modalContent.title}" ng-click="processAddingThread()">
        作成
      </button>
      <button class="button button-center button-right button-mordal" ng-click="$root.modalContent=[];threadModal.hide();settingsPopover.hide();" style="margin-left:10px">
        キャンセル
      </button>      
    </div>
  </ion-content>
</ion-modal-view>
