<!-- Notifications -->
<div gritter={{gritter.notify}} gritter-options="gritter.options" gritter-remove={{gritter.remove}} gritter-remove-all={{gritter.removeAll}} gritter-ids="gritter.ids" gritter-destroy={{gritter.destroy}}>
</div>

<div focus="focus"></div>
<div blocker="blocker"></div>

<div jwerty="HOME" key-event="goto.home()" key-name="goto.home" key-bind="document"></div>
<div jwerty="CTRL+END" key-event="goto.logout()" key-name="goto.logout" key-bind="document"></div>

<div jwerty="F1" key-event="goto.thread()" key-name="goto.thread" key-bind="document"></div>
<div jwerty="F2" key-event="goto.timeline()" key-name="goto.timeline" key-bind="document"></div>

<style type="text/css">

    img {
    vertical-align: middle;
    }
    
    /*.img-responsive {*/
    /*display: block;*/
    /*height: auto;*/
    /*max-width: 100%;*/
    /*}*/
    
    /*.img-rounded {*/
    /*border-radius: 3px;*/
    /*}*/
    
    /*.img-thumbnail {*/
    /*background-color: #fff;*/
    /*border: 1px solid #ededf0;*/
    /*border-radius: 3px;*/
    /*display: inline-block;*/
    /*height: auto;*/
    /*line-height: 1.428571429;*/
    /*max-width: 100%;*/
    /*moz-transition: all .2s ease-in-out;*/
    /*o-transition: all .2s ease-in-out;*/
    /*padding: 2px;*/
    /*transition: all .2s ease-in-out;*/
    /*webkit-transition: all .2s ease-in-out;*/
    /*}*/
    
    /*.img-circle {*/
    /*border-radius: 50%;*/
    /*}*/
            
    .thread-title {
        font-size: 20px;
    }
    .timeline-img{
        width: 50px;
        height: 50px;
    }

</style>

<div class="section col-sm-2">
    <a ui-sref="app">
        <h3 class="company-name">
            Back Office
        </h3>    
    </a>
    <h4>
        <a ui-sref="app.threads">
            スレッド
        </a>
        <a style="float:right;" ng-click="addThread()">
            <i class="fa fa-plus-square-o clickable"></i>
        </a>
    </h4>
    
    <ul class="list-group">
      <a class="list-group-item clickable" ng-if="thread.Thread" ui-sref="app.thread({ id: thread.Thread.id })" ng-repeat="thread in threads">
        <span class="badge badge-info">{{thread.Head.length}}</span>
        {{thread.Thread.title}}
      </a>
    </ul>

    <h4>
        メッセージ
        <a style="float:right;" ng-click="addGroupChat()">
            <i class="fa fa-plus-square-o clickable"></i>
        </a>
    </h4>
    <ul class="list-group">
      <a class="list-group-item clickable" ng-repeat="groupchat in createdGroupChats" ui-sref="app.message({ id: groupchat.Groupchat.id })">
        <span class="badge badge-info">{{groupchat.User.length}}</span>
        <span ng-repeat="u in groupchat.User">
            {{u.username}}
            {{$last ? '' : ', '}}
        </span>
      </a>
      
    </ul>
      
</div>

<div class="section col-sm-8">
    <div class="row" style="margin-bottom:17px;">
      <form action="" class="col-xs-12 col-sm-6">
        <div class="input-group">
          <span class="input-group-addon" style="border:none;background: #fff;background: rgba(0,0,0,.03);"><i class="fa fa-search"></i></span>
          <input type="text" placeholder="Search..." class="form-control no-padding-hr" style="border:none;background: #fff;background: rgba(0,0,0,.03);">
        </div>
      </form>
    </div>
    <div ui-view="content">
        <div class="row">
            <h3>
                タイムライン
            </h3>
            <div class="col-md-12">
                <div class="row">
                    <div class="qa-message-list" id="wallmessages">
	
                    	<div class="message-item" ng-repeat="thread in timeline">
                    		<div class="message-inner">
                    			<div class="message-head clearfix">
                    				<div class="avatar pull-left">
                    					<img src="/img/avatar.png" class="timeline-img">
                    				</div>
                    				<div class="user-detail">
                    					<h5 class="handle">
                    					    <a ui-sref="app.thread({ id: thread.Thread.id })">
                    					        {{thread.Thread.title}}
                    					    </a>
                    					</h5>
                    					<div class="post-meta">
                    						<div class="asker-meta">
                    							<span class="qa-message-what"></span>
                    							<span class="qa-message-when">
                    								<span class="qa-message-when-data">{{thread.Thread.created}}</span>
                    							</span>
                    							 <span class="qa-message-who">
                    								<span class="qa-message-who-pad">by </span>
                    								<span class="qa-message-who-data">
                    								    {{thread.Owner.username}}
                    								</span>
                    							</span>
                    						</div>
                    					</div>
                    				</div>
                    			</div>
                    			<div class="qa-message-content">
                    			    <h3>Head</h3>
                    				<div class="message-item" ng-repeat="head in thread.Head">
                                		<div class="message-inner">
                                			<div class="message-head clearfix">
                                				<div class="avatar pull-left">
                                					<img src="/img/avatar.png" class="timeline-img">
                                				</div>
                                				<div class="user-detail">
                                					<h5 class="handle">
                                					    <a ui-sref="app.thread({ id: thread.Thread.id })">
                                					        {{head.body}}
                                					    </a>
                                					</h5>
                                					<div class="post-meta">
                                						<div class="asker-meta">
                                							<span class="qa-message-what"></span>
                                							<span class="qa-message-when">
                                								<span class="qa-message-when-data">{{head.created}}</span>
                                							</span>
                                							 <span class="qa-message-who">
                                								<span class="qa-message-who-pad">by </span>
                                								<span class="qa-message-who-data">
                                								    {{head.Owner.username}}
                                								</span>
                                							</span>
                                						</div>
                                					</div>
                                				</div>
                                			</div>
                                			<div class="qa-message-content">
                                				<ul class="list-group">
                                                    <li class="list-item">
                                                        <ul class="list-group commentList">
                                                            <li class="list-group-item" ng-repeat="c in head.Comment | unique : 'id'" ng-init="$last && fireMessageEvent()">
                                                                <small>by : {{c.User.username}}</small>
                                                                <p>{{c.body}}</p>
                                                                <p>
                                                                     <span ng-repeat="upload in c.Upload">
                                                                        <a fancybox ng-href="{{upload.path}}">
                                                                            <img ng-src="{{upload.path}}" class="img-responsive thumbnail" width="150" height="50"></img>
                                                                        </a>
                                                                    </span>
                                                                </p>
                                                                <span style="font-size:10px;">{{c.created}}</span>
                                                                <button class="btn btn-xs {{(c.isUserLiked)?'':'btn-outline'}} btn-warning pull-right" ng-disabled="c.processing" ng-click="likeComment($index, c)">
                                                                    {{c.likes}}
                                                                    <span class="fa fa-thumbs-o-up"></span>
                                                                </button>
                                                            </li>
                                                        </ul>
                                                    </li>
                                                    <li class="list-group-item form-group">
                                                        <form  role="form" id="commentFrm" name="commentFrm" method="POST" enctype="multipart/form-data" 
                                                                    novalidate ng-submit="sendComment()">
                                                            
                                                            <input type="text" name="data[Upload][comment_id]" class="hidden" id="comment-id" ng-model="comment.comment_id" />
                                                            <input type="file" name="data[Upload][file]" id="attachments"  multiple />
                                                            <textarea name="data[Upload][body]" class="form-control" id="body" placeholder="共有したい情報を投稿" ng-model="comment.body"></textarea>
                                                            <button type="submit" class="btn btn-sm btn-primary pull-right" style="margin-top:4px;">コメント</button>
                                                            
                                                        </form>
                                                    </li>
                                                </ul>
                                			</div>
                                		</div>
                                	</div>
                    			</div>
                    		</div>
                    	</div>
                    </div>
	            </div>
            </div>
        </div>
    </div>
</div>

<div class="section col-sm-2">
    <div class="nav pull-right">
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <span>{{loginUser.username}}</span>
                </span>&nbsp;<span class="fa fa-caret-down"></span>
            </a>
            <ul class="dropdown-menu">
                <li>
                    <a ui-sref="app.profile">
                        Profile
                    </a>
                </li>
                <li>
                    <a ui-sref="app.threads">
                        <i class="dropdown-icon fa fa-cog"></i>
                        &nbsp;&nbsp;Settings
                    </a>
                </li>
                <li class="divider"></li>
                <li>
                    <a href="/users/logout">
                        <i class="dropdown-icon fa fa-power-off"></i>
                        &nbsp;&nbsp;Log out
                    </a>
                </li>
            </ul>
        </li>
    </div>
</div>

<div ng-repeat="template in templates" ng-include="template"></div>