<style type="text/css">
  .glyphicon-refresh-animate {
    -animation: spin .7s infinite linear;
    -webkit-animation: spin2 .7s infinite linear;
  }
  
  @-webkit-keyframes spin2 {
      from { -webkit-transform: rotate(0deg);}
      to { -webkit-transform: rotate(360deg);}
  }
  
  @keyframes spin {
      from { transform: scale(1) rotate(0deg);}
      to { transform: scale(1) rotate(360deg);}
  }
  
  .thread-users span.comma:last-child {
      display: 'none';
  }
  .company-name{
    margin-top:5px;
    margin-bottom:20px;
  }
  .section > .list-group > .list-group-item{
    border:none;
    padding:5px 15px;
  }
  .section{
    padding:0 20px;
  }
  #message-list-wrapper{
    max-height:580px;
    overflow-y:auto;
    padding-right:15px;
  }
  .message{
    margin:15px;
  }
  .message > div{
    display:table-cell;
  }
  .message > div.avatar{
    vertical-align:middle;
  }
  .message > div.avatar > img{
    height:40px;
    width:40px;
    border-radius: 20px;
  }
  .message > div.msg{
    padding-left:16px;
  }
  .message-time{
     margin:8px;
     font-size:12px;
  }
</style>

<div id="loading" ng-if="!message.Groupchat.id">
	<div class="loading-overlay-component"></div>
	<div class="loading-element-component">
		<i class="blue fa fa-spinner fa-spin fa-4x"></i>
        <p class="text-yellow">LOADING</p>
	</div>
</div>
<div class="colourable" ng-if="message.Groupchat.id">
    <br/>
    <h4 style="padding-right:15px;">
      <span>
          <span class="thread-users" title="members">
            <i class="glyphicon glyphicon-user"></i>
            <span>:</span>
            <span ng-repeat="u in message.User" ng-if="message.User.length">
              {{u.username}}
              {{$last ? '' : ', '}}
            </span>
          </span>
      </span>
      <span class="pull-right" ng-if="loginUser.id == message.Owner.id">
          <button class="btn btn-sm btn-info" ng-click="addMembers(message.Groupchat)">
            <i class="fa fa-plus-square-o clickable"></i>
          </button>
          <span class="btn-group btn-group-sm">
            <button class="btn btn-sm btn-warning dropdown-toggle" type="button" data-toggle="dropdown">
              <span class="fa fa-cog"></span>
              &nbsp;
              <span class="fa fa-caret-down"></span>
            </button>
            <ul class="dropdown-menu dropdown-menu-right">
                <li><a href="" class="clickable" role="button" ng-click="deleteGroupChat(message.Groupchat.id)">削除</a></li>
            </ul>
          </span>
      </span>
    </h4>
    <br/>
    
    <div id="message-list-wrapper">
		<div class="panel-body padding-sm">
			<a class="messages-link clickable" ng-click="getPreviousMessages()" ng-disabled="isLoadingMessage" ng-if="message.page_info.has_next">
			  <span class="glyphicon glyphicon-refresh glyphicon-refresh-animate" ng-if="isLoadingMessage"></span>
			  MORE MESSAGES
			</a>
			<div class="messages-list" >
			    <div ng-repeat="(created_date, filteredMessages) in message.Message | groupBy: 'created_date'" ng-init="$last && fireMessageEvent()">
			        <div class="message text-center">
			             <hr>
			             <h5>{{created_date}}</h5>
			        </div>    
			        <div class="message" ng-repeat="m in filteredMessages track by $index">
    					  <div class="avatar">
    				        <img src="/img/avatar.png" alt="">
                </div>
    				    <div class="msg">
                            <h4 class="message-subject">
                                {{m.User.username}}
                                <span class="message-time">
                                    {{m.created}}
                                </span>
                            </h4>
                            <p class="message-description">
                                {{m.body}}
                                <p>
                                    <span ng-repeat="upload in m.Upload">
                                        <a fancybox ng-href="{{upload.path}}">
                                            <img ng-src="{{upload.path}}" class="img-responsive thumbnail" width="150" height="50"></img>
                                        </a>
                                    </span>
                                </p>
                            </p>
                        </div>
    			    </div>
			    </div>
			</div>
		<!--</div>  / .panel -->
    </div>
</div>
    <div style="position:relative;">
        <form role="form" id="messageFrm" name="messageFrm" method="POST" enctype="multipart/form-data" novalidate ng-submit="sendMessage()">
            <div class="form-group">
              <textarea name="body" class="form-control" id="body" placeholder="共有したい情報を投稿" ng-model="comment.body"></textarea>
              <div style="margin-top:8px;">
                <input type="file" id="attachments" multiple style="display:inline-block;">
                <button type="submit" class="btn btn-primary pull-right">
                    送信
                </button>
              </div>
            </div>
        </form>
    </div>
</div>

<div ng-repeat="template in templates" ng-include="template"></div