<style type="text/css">
    .thread-users span.comma:last-child {
        display: 'none';
    }
    .liked {
        font-weight: bolder;
        background: blue;
    }
    .badge-like,
    .add-member {
        cursor: pointer;
    }
    .red {
        color: #d9534f!important;
    }
</style>


<div class="panel colourable">
    <div class="panel-heading">
        <span class="panel-title">
            <div>
                <label class="lead">
                    Message
                </label>
            </div>
            <span>
                <span class="thread-users" title="members">
                    
                    <i class="glyphicon glyphicon-plus clickable red" 
                        ng-if="loginUser.id == message.Owner.id"
                        ng-click="addMembers(message.Groupchat)"></i>
                    
                	<i class="glyphicon glyphicon-user"></i>
                	<span>:</span>
                	<span ng-repeat="u in message.User" ng-if="message.User.length">
                		{{u.username}}
                		{{$last ? '' : ', '}}
                	</span>
                </span>
            </span>
            <br>
            <span style="font-size:11px;">
                {{message.Groupchat.created}}
            </span>
            <div class="panel-heading-controls">
                <div class="btn-group btn-group-sm">
                    <button class="btn btn-info dropdown-toggle" type="button" data-toggle="dropdown">
                      <span class="fa fa-cog"></span>&nbsp;<span class="fa fa-caret-down"></span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-right">
                        <li><a href="" class="clickable" role="button" ng-click="deleteGroupChat(message.Groupchat.id)">削除</a></li>
                    </ul> <!-- / .dropdown-menu -->
                </div> <!-- / .btn-group -->
            </div> <!-- / .panel-heading-controls -->
        </span>
    </div> <!-- / .panel-heading -->
    <ul class="list-group">
        <li class="list-item" ng-if="message.Message.lenght">
            <ul class="list-group commentList">
                <li class="list-group-item" ng-repeat="m in message.Message | unique : 'id'"  ng-init="$last && fireMessageEvent()">
                    <small>by : {{m.User.username}}</small>
                    <p>{{m.body}}</p>
                    <p>
                         <span ng-repeat="upload in m.Upload">
                            <a fancybox ng-href="{{upload.path}}">
                                <img ng-src="{{upload.path}}" class="img-responsive thumbnail" width="150" height="50"></img>
                            </a>
                        </span>
                    </p>
                    <span style="font-size:10px;">{{m.created}}</span>
                </li>
            </ul>
        </li>
        <li class="list-group-item form-group">
            <form  role="form" id="messageFrm" name="messageFrm" method="POST" enctype="multipart/form-data" 
                        novalidate ng-submit="sendMessage()">
                
                <input type="text" name="data[Upload][message_id]" class="hidden" id="message-id" ng-model="comment.message_id" />
                <input type="file" name="data[Upload][file]" id="attachments" multiple />
                <textarea name="data[Upload][body]" class="form-control" id="body" placeholder="共有したい情報を投稿" ng-model="comment.body"></textarea>
                <button type="submit" class="btn btn-sm btn-primary pull-right" style="margin-top:4px;">コメント</button>
                
            </form>
        </li>
    </ul>
</div> <!-- / .panel -->

<div ng-repeat="template in templates" ng-include="template"></div