<script type="text/ng-template" id="add-thread-member-modal.html">
	<div id="thread-modal" tabindex="-1">
	    
		<form name="threadForm" novalidate ng-submit="save()">
			<div class="modal-header">
				<button type="button" class="close" ng-click="cancel()">&times;</button>
			    <h4 class="white bigger">メンバー検索</h4>
			</div>

			<div class="modal-body">
				<div class="row" >
		            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
		            	
						<div class="form-group">
	                        <label for="title">
	                        	メンバー
	                        	&nbsp;
	                        	(
	                        		<span ng-show="showSelectAll">
		                        		<a class="clickable" role="button" ng-click="selectAllMembers()">全選択</a>
		                        	</span>
		                        	<span ng-show="showDeselecAll">
		                        		<a class="clickable" role="button" ng-click="deselectAllMembers()">全解除</a>
		                        	</span>
	                        	)
	                        </label>
	                        <select2
                                id="member_search"
                                data="members.users"
                                display-field="username"
                                ng-model="members.ids"
                                placeholder="メンバー検索"
                                search="username"
                                selected="selected(val)"
                                detailed-selection="1"
                                initial-value="tempSelectedMembers"
                                allow-clear
                                class="width-100"
                                multiple="1"
                                required>
                            </select2>
                            
	                        <i class="tooltips col-xs-12" ng-show="threadForm.title.$dirty && threadForm.title.$invalid">
	                            <span class="red">This field is required</span>
	                        </i>
	                    </div>
		    		</div>
		    	</div>

			</div>
			
			<div class="modal-footer">
				<button type="button" class="btn btn-sm" id="btn-close" ng-click="cancel()" tabindex="-1">
					<i class="fa fa-ban bigger-140"></i> &nbsp;
					キャンセル
				</button>
				<button type="submit" class="btn btn-primary btn-sm" id="btn-ok" ng-disabled="!members.ids.length || state.saving">
					<i class="fa fa-save bigger-140"></i> &nbsp;
					追加す
				</button>
			</div>

		</form>
	</div>
</script>