<script type="text/ng-template" id="add-thread-head-modal.html">
	<div id="thread-head-modal" tabindex="-1">
	    
		<form name="headForm" novalidate ng-submit="saveHead()">
			<div class="modal-header">
				<button type="button" class="close" ng-click="cancel()">&times;</button>
			    <h4 class="white bigger">ヘッド投稿</h4>
			</div>

			<div class="modal-body">
				
		    	<div class="row" >
		            <div class="col-xs-11">
						<div class="form-group">
	                        <label for="head-body">本文</label>
	                        <textarea name="head" class="form-control" id="head-body" placeholder="ヘッド内容をご記入" ng-model="head.tempBody" required></textarea>
	                        <!--i class="tooltips col-xs-12" ng-show="headForm.head.$dirty && headForm.head.$invalid">
	                            <span class="red">This field is required</span>
	                        </i-->
	                    </div>
		    		</div>
		    	</div>
		    	
		    	<div class="row">
	                <div class="form-group">
	                    <input type="file" name="attachments" id="new-head-attachments"  multiple />
	                </div>
	            </div>
	            
	            <div class="row" ng-if="head.Upload.length">
	            	<label class="control-label">Uploads</label>
	            	<br/>
	                <span ng-repeat="upload in head.Upload">
	                	<span>
                            <a class="badge-delete" ng-click="deleteUpload($index, upload.id)">
                                <span class="badge">
                                    <i class="glyphicon glyphicon-trash"></i>
                                </span>
                            </a>
                        </span>
                        
                        <a fancybox ng-href="{{upload.path}}">
                            <img ng-src="{{upload.path}}" class="img-responsive thumbnail" width="150" height="50"></img>
                        </a>
                    </span>
	            </div>

			</div>
			
			<div class="modal-footer">
				<button type="button" class="btn btn-sm" id="btn-close" ng-click="cancel()" tabindex="-1">
					<i class="fa fa-ban bigger-140"></i> &nbsp;
					キャンセル
				</button>
				<button type="submit" class="btn btn-primary btn-sm" id="btn-ok" ng-disabled="headForm.$invalid">
					<i class="fa fa-save bigger-140"></i> &nbsp;
					保存
				</button>
			</div>

		</form>
	</div>
</script>