<style type="text/css">
    .thread-users span.comma:last-child {
        display: 'none';
    }
    .liked {
        font-weight: bolder;
        background: blue;
    }
    .badge-delete .badge {
        background-color: #d9534f!important;
    }
    .badge-edit .badge {
        background-color: #2a6496!important;
    }
    .badge-like,
    .badge-edit,
    .badge-delete,
    .add-member {
        cursor: pointer;
    }
    
</style>

<div class="row" ng-if="threads.length">
    <div class="col-md-12">
        <div class="row" ng-repeat="thread in threads">
            <h5 class="page-header">
                <span>
                    <a ui-sref="app.thread({ id: thread.Thread.id })">
                        {{thread.Thread.title}}
                    </a>
                </span>
                
                <span ng-if="thread.Owner.id = loginUser.id">
                    <a class="badge-edit" title="edit thread" ng-click="editThread($index, thread)">
                        <span class="badge">
                            <i class="glyphicon glyphicon-pencil"></i>
                        </span>
                    </a>
                </span>
                <span ng-if="thread.Owner.id = loginUser.id">
                    <a class="badge-delete" title="delete thread" ng-click="deleteThread($index, thread.Thread.id)">
                        <span class="badge">
                            <i class="glyphicon glyphicon-trash"></i>
                        </span>
                    </a>
                </span>
            </h5>
            <p>
                {{thread.Thread.head}}
            </p>
            <p class="thread-users">
                <span ng-repeat="u in thread.User">
                    {{u.username}}
                    {{$last ? '' : ', '}}
                </span>
            </p>
        </div>  
    </div>
</div>

<div ng-repeat="template in templates" ng-include="template"></div>