<style type="text/css">
    .thread-users span.comma:last-child {
        display: 'none';
    }
    .liked {
        font-weight: bolder;
        background: blue;
    }
    .badge-delete .badge {
        background-color: #d9534f!important;
    }
    .badge-edit .badge {
        background-color: #2a6496!important;
    }
    .badge-like, .badge-delete,
    .badge-edit,
    .add-member {
        cursor: pointer;
    }
    
</style>

<!-- if there is a specific thread show this-->
<div class="row" ng-if="thread">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <p class="thread-users">
                    <span ng-repeat="u in thread.User">
                        {{ u.username }}
                        {{$last ? '' : ', '}}
                        
                    </span>
                    <span class="badge add-member" title="Add member" ng-click="addMembers(thread.Thread)">
                        <i class="glyphicon glyphicon-user"></i>
                        <i class="glyphicon glyphicon-plus"></i>
                    </span>
                </p>
            </div>        
        </div>
        
        
        <div class="row" >
            <div class="page-header">
                <h4>
                    {{thread.Thread.title}}
                    <small>
                        <span class="badge add-member" title="Add Head" ng-click="addHead(thread.Thread)">
                            <i class="glyphicon glyphicon-plus"></i>
                        </span>
                    </small>
                </h4>
            </div>
            <div class="col-md-12" ng-if="thread.Head.length">
                <div class="row" ng-repeat="head in thread.Head">
                    <h5 class="page-header">
                        <span>
                            <a ui-sref="app.head({ id: head.id })">
                                {{head.body}}
                            </a>
                        </span>
                        
                        <span>
                            <a class="badge-like" ng-disabled="!head.processing" ng-click="like($index, head)">
                                <span class="badge {{(head.isUserLiked)?'liked':''}}">
                                    {{head.likes}}
                                    <i class="glyphicon glyphicon-thumbs-up"></i>
                                </span>
                            </a>
                        </span>
                        <span ng-if="thread.Owner.id = loginUser.id || loginUser.id == head.Owner.id">
                            <a class="badge-delete" ng-click="deleteHead($index, head.id)">
                                <span class="badge">
                                    <i class="glyphicon glyphicon-trash"></i>
                                </span>
                            </a>
                        </span>
                        <span ng-if="thread.Owner.id = loginUser.id || loginUser.id == head.Owner.id">
                            <a class="badge-edit" ng-click="editHead($index, head)">
                                <span class="badge">
                                    <i class="glyphicon glyphicon-pencil"></i>
                                </span>
                            </a>
                        </span>
                    </h5>
                    <p>
                        {{head.created}}
                    </p>
                </div>  
            </div>
        </div>
        
    </div>
</div>

<div ng-repeat="template in templates" ng-include="template"></div>