<script type="text/ng-template" id="thread-modal.html">
	<div id="thread-modal" tabindex="-1">
	    
		<form name="threadForm" novalidate ng-submit="save()">
			<div class="modal-header">
				<button type="button" class="close" ng-click="cancel()">&times;</button>
			    <h4 class="white bigger" ng-if="!isEdit">グループ作成</h4>
			    <h4 class="white bigger" ng-if="isEdit">グループ編集</h4>
			</div>

			<div class="modal-body">
				<div class="row" >
		            <div class="col-xs-12">
		            	
						<div class="form-group">
	                        <label for="title">グループ名</label>
	                        <input name="title" type="text" class="form-control" id="title" placeholder="グループ名を入力" ng-model="thread.tempTitle" required>
	                        <i class="tooltips col-xs-12" ng-show="threadForm.title.$dirty && threadForm.title.$invalid">
	                            <span class="red">※必須項目です</span>
	                        </i>
	                    </div>
		    		</div>
		    	</div>

			</div>
			
			<div class="modal-footer">
				<button type="button" class="btn btn-sm" id="btn-close" ng-click="cancel()" tabindex="-1">
					<i class="fa fa-ban bigger-140"></i> &nbsp;キャンセル
				</button>
				<button type="submit" class="btn btn-primary btn-sm" id="btn-ok" ng-disabled="threadForm.$invalid || ! threadForm.$dirty">
					<i class="fa fa-save bigger-140"></i> &nbsp;
					{{(!isEdit)?'作成':'編集 '}}
				</button>
			</div>

		</form>
	</div>
</script>