<script type="text/ng-template" id="groupchat-modal.html">
	<div id="groupchat-modal" tabindex="-1">
	    
		<form name="groupchatForm" novalidate>
			<div class="modal-header">
				<button type="button" class="close" ng-click="cancel()">&times;</button>
			    <h4 class="white bigger">メッセージ送信</h4>
			</div>

			<div class="modal-body">
				<div class="row" >
		            <div class="col-xs-12">
						<div class="form-group">
		                        <label for="title">メンバー</label>
		                        <select2
	                                id="member_search"
	                                data="groupchat.users"
	                                display-field="username"
	                                ng-model="groupchat.member_ids"
	                                placeholder="Search Member"
	                                search="username"
	                                selected="selected(val)"
	                                detailed-selection="1"
	                                allow-clear
	                                class="width-100"
	                                multiple="1"
	                                name="member_ids"
	                                required>
	                            </select2>
	                            
		                        <i class="tooltips col-xs-12" ng-show="groupchatForm.member_ids.$dirty && groupchatForm.member_ids.$invalid">
		                            <span class="red">※必須項目です</span>
		                        </i>
	                    </div>
	                    <div class="form-group">
		                        <label for="title">メッセージ</label>
		                        
		                        <textarea class="form-control" row="2" placeholder="Initial Message" ng-model="initial_message" required></textarea>
	                            
		                        <i class="tooltips col-xs-12" ng-show="groupchatForm.member_ids.$dirty && groupchatForm.member_ids.$invalid">
		                            <span class="red">※必須項目です</span>
		                        </i>
	                    </div>
	                    <div class="row">
                            <div class="form-group">
                                <input type="file" name="data[Upload][file]" id="groupchat-attachments"  multiple />
                            </div>
                        </div>
		    		</div>
		    	</div>
			</div>
			
			<div class="modal-footer">
				<button type="button" class="btn btn-sm" id="btn-close" ng-click="cancel()" tabindex="-1"><i class="fa fa-ban bigger-140"></i> &nbsp;Cancel</button>
				<button type="submit" ng-click="saveGroupChat()" class="btn btn-primary btn-sm" id="btn-ok" ng-disabled="groupchatForm.$invalid || ! groupchatForm.$dirty">
					<i class="fa fa-save bigger-140"></i> &nbsp;送信
				</button>
			</div>

		</form>
	</div>
</script>