<style type="text/css">
    .user-avatar {
        margin: auto;
        margin-top: 15%;
        width: 150px;
        height: 150px;
    }
</style>
<div class="row">
	<div class=" col-md-12 col-lg-12">
	 <div class="row well profile">
        <div class="col-sm-12">
            <div class="col-xs-12 col-sm-8">
                <h3>個人情報</h3>
                <form class="form-horizontal" role="form" method="POST" novalidate ng-submit="submit()">
                    <div class="form-group">
                        <label class="control-label">ユーザー名:</label>
                        <input class="form-control" type="text" placeholder="ユーザー名" ng-model="loginUser.username" ng-disabled="true">
                    </div>
                </form>
            </div>             
            <div class="col-xs-12 col-sm-4 text-center">
                <figure>
                    <img src="{{ (loginUser.avatar_img)? loginUser.avatar_img:'/img/avatar.png' }}" alt="{{ (loginUser.id)? loginUser.username:'user' }}" class="img-circle img-responsive user-avatar" >
                </figure>
                <div class="form-group">
                  <div style="margin-top:8px;">
                    <input type="file" id="profile_pic" accept="image/jpeg, image/png, image/jpg">
                    <button type="button" class="btn btn-primary pull-right" ng-click="uploadProfilePic()">
                        Upload
                    </button>
                  </div>
                </div>
            </div>
        </div>            
	 </div>                 
	</div>
</div>
