/* Empty. Add your own CSS if you like */
.members span{
   padding: 4px;
    margin: 5px;
    background: aqua;
    border-radius: 10px;
}
.members .icon{
    font-size: 30px;
    float: right;
    padding-right: 8px;
    margin-top: -3px;
}
.comment-list{
    border-top: 1px solid #ccc;
     padding-left: 72px;
}
.comment-list .item-avatar{
    width: 100% !important;
   
}
.comment-list h2{
    font-size: 18px !important;
    margin-top: 15px;
    margin-bottom:0px;
}
.comment-list .avatar{
    position: absolute;
    margin-top: 16px;
    left: 16px;
    max-width: 45px;
    max-height: 45px;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.comment-list p{
   margin-top: -30px;
    position: absolute;
    right: 0px;
    color: gray;
}
.likes{
    font-size:23px;
    
}
.active{
    color:#0c60ee;
}
.icons-attach{
    position: absolute;
    right: 10px;
    top: 20px;
    color: darkgrey;
}
.cam{
    font-size: 35px;
    position: absolute;
    right: 45px;
    padding-top: 15px;
}
.img{
    font-size: 25px;
    position: absolute;
    right: 10px;
    padding-top: 20px;
}
.icons-attach .docu{
    font-size:25px
}
.item-thumbnail img{
    width:70px;
    height:70px;
}

.img-container {
    display: block;
    background: rgba(0, 0, 0, .6);
}